README.pdf

lsf.*
debug.*
*.pyc
.ipynb_checkpoints/*
.SynologyWorkingDirectory/
.vscode/
**/.DS_Store

euler_script.py

models/**
!models/example

wip/models/**
wip/res_bnc/**

examples/*
!examples/en_bnc

docs/build/**
